PORT=3000
DATABASE_URI=mongodb://root:rootUserPW123@database:27017/bookstore?authSource=admin&directConnection=true
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1d

SUPERADMIN_EMAIL=admin@local.dev
SUPERADMIN_PASSWORD=P@ssw0rd
ALLOW_SEEDING=true